:root {
    --bg-color: #FFFFFF;
    --black-color: #000000;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 1000;
    /* pra garantir que fique acima dos outros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* opcional: sombra elegante */
}

#laguna-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* ou a cor do header do Laguna */
  z-index: 1000;
  transition: top 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* opcional */
}

#logo-laguna {
    display: flex;
    gap: 238px;
    margin-left: 49px;
    margin-top: 7px;
}

nav {
    margin-top: 7px;
    display: flex;
    gap: 65px;
}

nav a {
    text-decoration: none;
    color: #003C5A;
}

.user-buttons {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-right: 33px;
}

.header-buttons {
    background: #003C5A;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 12px 12px;
}

.background {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* espaçamento entre main e botão */
}

#pag1 {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/imagem-de-fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-left: 120px;
    padding-bottom: 239px;
}

.main-pag1 {
    width: 470px;
    height: 300px;



    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 41px;
    margin: 105px 0 21px 26px;
    /* Deixa a altura crescer conforme o conteúdo */

}

.main-pag1 h1 {
    font-size: 48px;
    font-weight: 100;
    color: #003C5A;
    line-height: 40px;
}

.main-pag1 p {
    font-size: 18px;
}

#pag1 button a {
    color: #FFFFFF;
    text-decoration: none;
}

.main-pag1 button {
    width: 199px;
    height: 55px;
    background-color: #003C5A;
    margin-top: 10px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
    /* animação suave */
}

.main-pag1 button:hover {
    transform: scale(1.1);
    /* zoom de 10% */
}

#pag2 h1 {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    font-size: 24px;
    font-weight: 500;
}

#pag2 p {
    display: flex;
    justify-content: center;
}

.browse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 40px auto;
    max-width: 1100px;
}

.browse li {
    text-align: center;
    font-weight: 600;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s ease;
}

.browse li:hover {
    transform: scale(1.03);
}

.browse li img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

.browse li p {
    background-color: #003C5A;
    color: white;
    margin: 0;
    padding: 12px 0;
    font-weight: 500;
    font-size: 1rem;
}

#pag3 {
    padding: 60px 100px;
    background-color: #F9F9F9;
}

#pag3 h1 {
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 500;
}

#pag3 h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 79px;
    color: #000000;
    font-weight: 200;
}

.pag3-container {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    /* espaço entre img e p */
    justify-content: center;
    flex-wrap: wrap;
    /* para não quebrar feio no mobile */
}

.pag3-container img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-bottom: 188px;
}

.pag3-container p {
    max-width: 500px;
    font-size: 21px;
    line-height: 1.6;
    color: #000000;
    font-weight: 200;
}

footer {
    background-color: #003C5A;
    width: 100%;
    height: 100px;
}

.footer-buttons {
    margin-top: 19px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 6px 6px;
}

footer p {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 10px;
    margin-top: 10px;
}

html {
    scroll-behavior: smooth;
}